.App {
  text-align: center;
}

.left-enter {
  transform: translate(-100%);
}

.left-enter.left-enter-active {
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}

.left-leave {
  transform: translate(0%);
}

.left-leave.left-leave-active {
  transform: translate(100%);
  transition: transform 500ms ease-in-out;
}

.right-enter {
  transform: translate(100%);
}

.right-enter.right-enter-active {
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}

.right-leave {
  transform: translate(0%);
}

.right-leave.right-leave-active {
  transform: translate(-100%);
  transition: transform 500ms ease-in-out;
}
